<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Database1Entities" connectionString="metadata=res://*/Model1.csdl|res://*/Model1.ssdl|res://*/Model1.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\SQLEXPRESS;attachdbfilename=|DataDirectory|\Database1.mdf;integrated security=True;user instance=True;multipleactiveresultsets=True;App=EntityFramework&quot;"
      providerName="System.Data.EntityClient" />
    <add name="ISI.Window.Properties.Settings.Database1ConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\Database1.mdf;Integrated Security=True;User Instance=True"
      providerName="System.Data.SqlClient" />
    <add name="ISI.Window.Properties.Settings.ISI_DBConnectionString"
      connectionString="Data Source=|DataDirectory|\ISI.DB.sdf;Password=1111"
      providerName="Microsoft.SqlServerCe.Client.3.5" />
    <add name="ISI.Window.Properties.Settings.ConnectionString" connectionString="Data Source=Localhost\SQLEXPRESS;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>

  <appSettings>
    <add key="CONSTRDB" value="Data Source=.\SQLEXPRESS;Initial Catalog=ISIDB;Integrated Security=True" />
  </appSettings>
  
</configuration>